@function pxToRem($px) {
    @return $px / 37.5px * 1rem;
}
.goodsSearch_wrap{
    width: 100%;
    height: 100%;
}
.noTabPageContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: pxToRem(16px);
}
.searchPage{
    width: 100%;
    height: pxToRem(45px);
    display: flex;
    .searchFix{
        flex:1;
        line-height: pxToRem(45px);
        text-align: center;
        font-size: pxToRem(20px);
        font-weight: bold;
    }
    .Input{
        flex: 9;
        width: 100%;
        height: 100%;
        .searchInputWrap{
            width: 100%;
            height: 100%;
            position: relative;
            .goBack{
                position: absolute;
                width: pxToRem(30px);
                height: pxToRem(30px);
                top: pxToRem(8px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .icon{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              
                input{
                    flex: 8;
                    width: 100%;
                    height: 70%;
                    outline: none;
                    border: 0;
                    font-size: pxToRem(16px);
                    padding-left:pxToRem(30px);
                    background: #e8e8f1;
                }
                .cancel{
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
.searchGoods{
    flex: 1;
    // background: aqua;
    .searchConditionWrap{
        width: 100%;
        height: pxToRem(35px);
        margin:pxToRem(5px) 0;
        display: flex;
        line-height: pxToRem(35px);
        box-shadow: pxToRem(1px) pxToRem(1px) pxToRem(4px) #ccc;
        .left{
           width: 33%;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .center{
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .right{
            width: 33%;
           display: flex;
           justify-content: center;
           align-items: center;
        }
    }
    .goodsList{
        flex: 1;
        height: 100%;
        .searchItemWrap{
            height:auto;
            padding:pxToRem(5px);
            .title{
                display: flex;
                height: pxToRem(40px);
                justify-content: space-between;
                align-items: center;
                margin-bottom: pxToRem(5px);
                // box-shadow: pxToRem(1px) pxToRem(1px) pxToRem(2px) #ccc;
            }
            .listWrap{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                padding:pxToRem(10px);
                span{
                    display: inline-block;
                    padding:pxToRem(8px);
                    border:pxToRem(1px) solid #dcdfe6;
                    border-radius: pxToRem(5px);
                    margin:0 pxToRem(5px) pxToRem(10px) 0;
                }
            }
        }
    }
}
