.goodsSearch_wrap {
  width: 100%;
  height: 100%;
}

.noTabPageContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.42667rem;
}

.searchPage {
  width: 100%;
  height: 1.2rem;
  display: flex;
}

.searchPage .searchFix {
  flex: 1;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.53333rem;
  font-weight: bold;
}

.searchPage .Input {
  flex: 9;
  width: 100%;
  height: 100%;
}

.searchPage .Input .searchInputWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.searchPage .Input .searchInputWrap .goBack {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.21333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPage .Input .searchInputWrap .icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPage .Input .searchInputWrap .icon input {
  flex: 8;
  width: 100%;
  height: 70%;
  outline: none;
  border: 0;
  font-size: 0.42667rem;
  padding-left: 0.8rem;
  background: #e8e8f1;
}

.searchPage .Input .searchInputWrap .icon .cancel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchGoods {
  flex: 1;
}

.searchGoods .searchConditionWrap {
  width: 100%;
  height: 0.93333rem;
  margin: 0.13333rem 0;
  display: flex;
  line-height: 0.93333rem;
  box-shadow: 0.02667rem 0.02667rem 0.10667rem #ccc;
}

.searchGoods .searchConditionWrap .left {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchGoods .searchConditionWrap .center {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchGoods .searchConditionWrap .right {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchGoods .goodsList {
  flex: 1;
  height: 100%;
}

.searchGoods .goodsList .searchItemWrap {
  height: auto;
  padding: 0.13333rem;
}

.searchGoods .goodsList .searchItemWrap .title {
  display: flex;
  height: 1.06667rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.13333rem;
}

.searchGoods .goodsList .searchItemWrap .listWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.26667rem;
}

.searchGoods .goodsList .searchItemWrap .listWrap span {
  display: inline-block;
  padding: 0.21333rem;
  border: 0.02667rem solid #dcdfe6;
  border-radius: 0.13333rem;
  margin: 0 0.13333rem 0.26667rem 0;
}
