.wrap {
  padding: 0 0.26667rem;
  background: #fff;
  margin-top: 0.26667rem;
}

.list {
  width: 100%;
  border-top: 0.02667rem solid #ccc;
  display: flex;
}

.list .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .logo .img {
  width: 90%;
  height: 90%;
}

.list .mess {
  flex: 1;
  padding: 0.53333rem 0 0 0.26667rem;
}

.list .mess .titles {
  width: 100%;
  font-size: 0.37333rem;
  line-height: 0.8rem;
}

.list .mess .ls,
.list .mess .price {
  width: 100%;
  font-size: 0.32rem;
  line-height: 0.8rem;
}

.list .mess .ls {
  color: #666;
}

.list .mess .price {
  color: #9a0000;
}

.title {
  line-height: 1.33333rem;
  font-size: 0.37333rem;
  text-align: center;
  font-weight: bold;
}
