@function pxToRem($px) {
    @return $px / 37.5px * 1rem;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bod{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAKCAMAAADfAc3wAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURc2AgICg1v///+rw+ffq6tKMjI2p2ouo2QT3I5MAAAA9SURBVCjPpcs5EgAgCARB5ND//9jEYwlZJp1q0ZTNAS3L10OgcGlYlYZNuGoRly3guv2YsA8z9mLKHsxZ3e5sBBsNqhCTAAAAAElFTkSuQmCC) repeat-x;
    width: 100%;
    height: pxToRem(5px);
    background-size: auto pxToRem(5px);
    margin-top: pxToRem(3px);
}
.connter{
    flex: 1;
    overflow-y: auto;
}
.footer{
    width: 100%;
    height: pxToRem(50px);
    background: #2196f3;
    line-height: pxToRem(50px);
    text-align: center;
    color: #fff;
    font-size: pxToRem(18px);
}