.alert_wrap {
  position: fixed;
  width: 2.66667rem;
  height: 2.66667rem;
  left: 50%;
  top: 50%;
  margin-left: -1.33333rem;
  margin-top: -1.33333rem;
  background: rgba(0, 0, 0, 0.3);
}

.active {
  display: none;
}
