@function pxToRem($px) {
    @return $px / 37.5px * 1rem;
  }


.alert_wrap{
    position: fixed;
    width: pxToRem(100px);
    height:pxToRem(100px) ;
    left: 50%;
    top: 50%;
    margin-left: pxToRem(-50px);
    margin-top:  pxToRem(-50px);
    background: rgba(0, 0, 0, .3);
}

.active{
  display: none;
}