
.tab{
    height: 60rpx;
display: flex;
justify-content: space-around;
border-bottom: 2rpx solid #ccc;
font-size: 37rpx;
}
.active{
    border-bottom: 2px solid #f00;
}
.cont .item{
padding: 20rpx 0;


}
.item_{
    display: block;
    font-size: 37rpx;

}
.btn{
   width: 100%; 

}
.btn Text{
    display: inline-block;
    width: 160rpx;
    height: 50rpx;
    border:2rpx solid #ccc;
    font-size: 36rpx;
    margin: 0 20rpx;
    text-align: center;
    background: #07afa4;
}
.btn Text:last-child{
    background: #ccc;
}


    