.home-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.classfiy-wrap{
  width: 100%;
  height: 100%;
  
  /* display: flex;
  flex-direction: column; */
}
.inp input{
  flex: 1;
  border:none;
  background: #ccc;
  
}

footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid;
}
